@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("./fonts/Inter-Thin.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-Thin.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("./fonts/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("./fonts/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-ExtraLight.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("./fonts/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./fonts/Inter-Light.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-Light.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("./fonts/Inter-LightItalic.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Inter-Italic.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/Inter-Medium.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("./fonts/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-ExtraBold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("./fonts/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Inter-Black.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-Black.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
        url("./fonts/Inter-BlackItalic.woff?v=3.19") format("woff");
}

p {
    margin: 0;
}

.body {
    background-color: #2A2C2F;
    align-items: center;
}

.page {
    max-width: 1280px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: calc(100% - 96px);
    padding: 28px 48px 0 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__lang-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.underlined {
    text-decoration: underline;
}

.header__lang-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    color: #fff;
}

.header__lang-link:first-child {
    margin-right: 18px;
}

.lead {
    margin: 56px 148px 0 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lead__title {
    margin: 0;
    width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    color: #fff;
}

.lead__subtitle {
    margin: 0;
    margin-top: 32px;
    width: 640px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
}

.lead__image {
    width: 100%;
    margin-top: 64px;
}

.lead__caption {
    margin: 0;
    margin-top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fff;
    align-self: flex-start;
}

.intro {
    display: flex;
    flex-direction: column;
    padding-left: 148px;
    padding-top: 92px;
    padding-bottom: 92px;
    max-width: 690px;
}

.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #fff;
}


.intro__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

.intro__list {
    max-width: 690px;
    margin: 33px 0 0 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
}

.intro__span {
    font-weight: 400;
}

.photo-grid {
    margin: 0px 48px 92px 48px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

.photo-grid__item {
    width: 100%;
    object-fit: cover;
}

.places {
    margin: 0 148px 0 148px;
    max-width: 984px;
}

.place {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
    grid-template-columns: minmax(440px, 460px) 1fr;
    grid-template-rows: repeat(2, min-content);
    color: #fff;
    margin-bottom: 80px;
}

.place__title {
    margin: 0;
    max-width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
}

.place__image {
    max-width: 460px;
}

.place__website {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.place__website__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    color: #aaa;
    margin-bottom: 12px;
}

.place__website__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-decoration-line: underline;
}

.place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

.place__paragraph:first-child {
    margin-bottom: 26px;
}

.cover {
    width: calc(100% - 96px);
    min-height: 740px;
    margin: 92px 48px 92px 48px;
    background-image: url(images/cover-trains.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.cover__title {
    z-index: 2;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    max-width: 560px;
}

.cover__subtitle {
    z-index: 2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    max-width: 360px;
}

.cover__overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.footer {
    width: calc(100% - 96px);
    margin: 92px 48px 0 48px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #fff;
}

.footer__link {
    margin-right: 18px;
}