.cover__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin: 16px 16px 0 16px;
    }
}