.lead__subtitle {
    margin: 0;
    margin-top: 32px;
    width: 640px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        max-width: 288px;
    }
}