.footer {
    width: calc(100% - 96px);
    margin: 92px 48px 0 48px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #fff;
}

@media screen and (max-width: 1023px) {
    .footer {
        width: calc(100% - 48px);
        margin: 88px 24px 0 24px;
    }
}


@media screen and (max-width: 767px) {
    .footer {
        margin: 64px 16px 24px 16px;
        flex-direction: column;
    }
}